
.ant-btn-circle{
    margin-left: 0.5rem;
}
.ant-card.ant-card-bordered {
    margin: 1.5rem 3rem;
    background-color: #fbec5d;
    color:#1890ff;
    max-width: 580px;
  }
  
  .ant-card-extra .ant-btn {
    background-color: #fbec5d;
    border: 1.5px solid #1890ff;
  }


.ant-card-head-title{
  text-align: start;
  font-size: 1.6rem;
  font-weight: bold;
  color:#1890ff;
  white-space: unset;  

}
  .ant-card-head-title::first-letter{
    font-size: 2em;
}
  .card-description{
      text-align: justify;
      font-size: 1rem;
      color:#1890ff; 
      white-space: unset;  
    }

  .card-date{
      text-align: end;
      font-size: smaller;
      margin: 0;
  }

.ant-tooltip-open{
  background-color: #1890ff;
}


@media (max-width: 786px) {
  .ant-card-head-title{
    font-size: 1.4rem;
    white-space: wrap;
  }
  .card-description{
    font-size: 0.8rem;
    white-space: wrap;
}
}

@media (max-width: 425px) {
  .ant-card-head-title{
    font-size: 1.2rem;
  }
  .card-description{
    font-size: 0.6rem;
}
}