.ant-drawer-header{
    background-color: #fbec5d;
    height: 5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1rem;
    font-style: italic;
}

.similar-announcement{
    margin-bottom: 10px;
    background-color: #1890ff;
    border-radius: 10px;
}

.similar-title{
    border-bottom: 1px solid #fbec5d;
    color: #fbec5d;
    padding: 1rem;
    font-size: 1rem;
}

.similar-description{
  color: #fbec5d;
  padding: 1rem;
  font-size: 0.7rem;
}

@media (max-width: 786px) {
  h2{
    font-size: 1.5rem;
  }

  h3{
    font-size: 0.9rem;
  }
  .similar-title{
    font-size: 1rem;
    white-space: pre-wrap;
  }
  .similar-description{
    font-size: 0.6rem;
    white-space: pre-wrap;
  }
}
    
@media (max-width: 425px) {
  h2{
    font-size: 1.3rem;
  }

  h3{
    font-size: 0.8rem;
  }
  .similar-title{
    font-size: 0.8rem;
  }
  .similar-description{
    font-size: 0.5rem;
  }
}
