.announcement-list{
  min-height: 31rem;
}

.empty-list{
  margin: 1.5rem 3rem;
  font-size: 2rem;
}

@media (max-width: 786px) {
  .empty-list{
    font-size: 1.5rem;
  }
}
    
@media (max-width: 425px) {
  .empty-list{
    font-size: 1rem;
  }
}